/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}
input:-moz-placeholder {
  color: #adadad;
}
input::-moz-placeholder {
  color: #adadad;
}
input:-ms-input-placeholder {
  color: #adadad;
}

textarea::-webkit-input-placeholder {
  color: #adadad;
}
textarea:-moz-placeholder {
  color: #adadad;
}
textarea::-moz-placeholder {
  color: #adadad;
}
textarea:-ms-input-placeholder {
  color: #adadad;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins;
  font-size: 15px;
  color: #999999;
  line-height: 1.5;
}

.txt2 {
  font-family: Poppins;
  font-size: 15px;
  color: #57b846;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #fff;
}

.wrap-login100 {
  /* width: 390px; */
  background: #fff;
}

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

.login100-form-avatar {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-avatar img {
  width: 100%;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 10px;
  margin-top: 20px;
}

.input100 {
  font-family: Poppins;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 52px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #57b846;
}

.focus-input100::after {
  font-family: Poppins;
  font-size: 18px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -20px;
  font-size: 15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -20px;
  font-size: 15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  max-width: 390px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.login100-form-btn {
  font-family: Poppins;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #57b846;
  border-radius: 25px;

  box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background-color: #333333;
  box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}
.styles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*//////////////////////////////////////////////////////////////////
[ Login more ]*/
.login-more li {
  position: relative;
  padding-left: 16px;
}

.login-more li::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #cccccc;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.datepicker-date-display {
  background-color: #57b846 !important;
}
.confirmation-btns button {
  color: #57b846 !important;
}
.dropdown-content span {
  color: #57b846 !important;
}
.datepicker-table td.is-selected {
  background-color: #57b846 !important;
  color: #fff !important;
}

.f-card {
  background-color: white;
  width: 502px;
  border: 1px solid #d0d1d5;
  border-radius: 3px;
  margin: auto;
  margin-bottom: 10px;
  padding: 12px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Not original, just a test */
}

.header {
  margin-bottom: 17px;
}

.co-logo {
  float: left;
  margin-right: 8px;

  width: 40px;
  height: 40px;
}

.co-name > a {
  font-family: Poppins;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.38;
  color: #57b846;
  text-decoration: none;
  transition: all .25s ease-in-out;
  margin-bottom: 2px;
}

.co-name > a:hover {
  letter-spacing: 2px;
}
.time {
  font-family: Poppins;
  font-size: 12px;
  color: #90949c;
  transition: all .25s ease-in-out;
}

.time > a {
  color: #90949c;
  text-decoration: none;
}

.time > a:hover {
  color:  #57b846;
}

.options {
  font-family: Poppins;
  font-size: 12px;
  color: #e5e5e5;
  float: right;
}

.options:hover {
  color: black; /* Fallback */
  color: rgba(0, 0, 0, 0.3);
}

.content {
  clear: both;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 1;
}

.reference {
  width: 476px;
}
.reference-thumb {
  display: block;
  width: 476px;
}
.material-icons{
  transform: translateY(5px);
}
.social-buttons span:hover{
  color: #57b846;
  letter-spacing: 1.5px;
}
.reference-content {
  border: 2px solid black;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top: 0;
  padding: 10px 12px 10px 12px;
}

.reference:hover .reference-content {
  border-color: black; /* Fallback */
  border-color: rgba(0, 0, 0, 0.15);
}

.reference-title {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;

  margin-bottom: 5px;
}

.reference-subtitle {
  font-family: Poppins;
  font-size: 12px;
  line-height: 16px;
}

.reference-font {
  color: #90949c;
  font-family: Poppins;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;

  padding-top: 9px;
}

.social {
  margin-top: 12px;
}
.social-buttons {
  color: #7f7f7f;
  font-family: Poppins;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e5e5e5;
  padding-top: 4px;
}

.social-buttons span {
  font-size: 12px;
  /* margin-right: 20px; */
  margin: 0 auto;
  flex-grow: 1;
  padding: 4px 4px 4px 0;
  transition: all 0.25s ease-in;
  text-align: center;
}

.social-buttons span:hover {
  /* text-decoration: underline; */
  cursor: pointer;
}

.social-buttons span i {
  padding-right: 4px;
}

.img {
  width: 40px;
}
.input-field{
  margin-bottom: -10px
}
.form-input{
  font-family: Poppins;
}

.form-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 18px;
  border: none
}
input[type="text"]:not(.browser-default) {
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.7);
  border-radius: 50px;
  font-weight: 600;
  width: 100%;
  width: 100%;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;   
}
input[type=text]:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.6);
}

.iconRow {
  padding: 0;
}

@media (max-width: 1000px) {
  .iconRow {
    padding: 0 15%;
  }
}
@media (max-width: 600px) {
  .iconRow {
    padding: 0;
  }
}
.iconBox:not(:last-child) {
  border-right: 1px solid grey;
}
.iconBox {
  margin-left: 10p;
}
.iconText {
  display: inline-block;
  margin-left: 0;
  font-weight: 600
}
@media (max-width: 600px) {
  .iconText {
    font-size: 10px;
  }
}
.icon {
  margin-right: 0;
  /* margin-left: 10px */
}
.new-post-outer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-post-inner{
  background-color: #fff;
  width: 40%;
  border-radius: 10px;
  border: 2px solid #bbb;
  height: max-content;
  overflow: hidden;
}

.line{
  width: 100%;
  display: inline-block;
  height: 1.5px;
  background-color: #bbb;
}
.user{
  width: 95%;
  margin: 0 auto;
  position: relative;
  /* height: 80px; */
}
.new-post-inner img{
  border-radius: 50%;
}
.user_name{
  font-weight: 700;
  position: absolute;top: 50%;
  left: 10%;
  transform: translate(-10%,-50%);
  letter-spacing: .5px;
  margin-left: 10px;
}
.posting_box{
  width: 95%;
  margin: 0 auto;
  height: 200px;
  margin-top: 20px;
}
.posting_input{
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: inline-block;
  border-bottom: none !important;
  transition: all 0.5s;
}
.posting_button_wrapper{
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.posting_button_wrapper button{
  width: 100%;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  padding: 15px;
  box-sizing: border-box;
  background-color: #57b846;
  color: #fff;
  border-radius: 10rem;
}
.posting_button_wrapper button:disabled{
  background-color: #888;
  color: #aaa;
}
.new-post-inner h3{
  position: relative;
  font-weight: 650;
}
.icon-close{
  width: 40px;
  height: 40px;
  position: absolute;
  right: 40px;
  background-color: #ddd;
  border-radius: 50%;
  color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  cursor: pointer;
}

.user_wrapper{
  font-weight: 800;
  height: max-content;
  background-color: #eee;
  padding: 0px 10px;
  border-radius: 10px;
  margin: 10px 0;
  text-align: justify;
}
.user_name_comments{
  display: inline-block;
  transform: translateY(-10px);
  margin-left: 5px;
}
.user_image{
  display: inline-block;
  transform: translateY(10px);
}
.comment{
  font-weight: normal;
  margin-left: 40px;
  transform: translateY(-10px);
}
.commenting_box{
  width: 100%;
  margin-top: 20px;
  background-color: #eee;
  margin: 0 auto;
  padding: 10px;
}
.commenting_box input{
  width: 85%;
  border: 1px solid #999 !important;
  padding: 10px 10px;
  border-radius: 10rem;
}
.all_comments{
  height: 60vh;
  overflow: scroll;
  padding-right: 10px;
}
.commenting_box form{
  display: block;
  margin: 0 auto;
}
.commenting_box button{
  transform: scale(1.3) translate(10px,5px);
}
.outer_box{
  width: 95%;
  margin: 0 auto;
}